


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family:  'Titillium Web', sans-serif; /*'Titillium Web', sans-serif; */
}

h1, h2, h3, h4, h5 {
    font-family:  'Bangers', cursive; /*'Titillium Web', sans-serif;*/    
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/********** Portfolio Page CSS ********/
* {
    box-sizing: border-box;
}


html {
    font-size: 62.5%;  /* how diifferent from 10px ? */
}

h1 {
	font-size: 5rem;
}

h3 {
	font-size: 2rem;
}

p {
	font-size: 2rem;
}

.container {
	border: 1px solid green;
	width: 100%;
	/* max-width: 800px; */
	margin: 0 auto;
	height: 1200px;
	display: flex;
	background-color: indianred
}

.left {
	border: 1px solid red;
	width: 50%;
	height: 1200px;
	max-width: 400px;
	/*height position fixed*/
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.title {
	border: 1px solid orange;
	height: 200px;
	display: flex;
	flex-direction: column;
}

.title h1 {
	align-self: center;
}

.social {
	border: 1px solid purple;
	height: 100px;
	display: flex;
	justify-content: space-between;
}

.social img {
	width: 10%;
	height: 50px;
}

.tech {
	border: 1px solid goldenrod;
	height: 100px;
}

.contact {
	border: 1px solid black;
	height: 100px;
}

.right {
	border: 1px solid blue;
	width: 50%;
	height: 2000px;
	/*height position auto?*/
}

.project {
	border: 3px dashed black;
	height: 500px;
	margin: 20px;
	background-color: ghostwhite;
}